*{
    margin: 0;
    padding: 0;
    border: 0;
}

*,*::before,*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:focus,:active{
    outline: none;
}

body{
    background-color:#CCCCFF;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 530px;
    padding: 0 15px;
    margin: 0 auto;
}

.header, .todo-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header{
   padding: 5rem 0 1rem;
}

.header__title{
    font-size: 3rem;
    color: 	#FFFFFF;
}

.todo-form__input, .todo-form__button{
    padding: .5rem;
    font-size: 1.7rem;
    background-color: #FFFFFF;  
}

.todo-form__input{
    width: 100%;
}

.todo-form__button{
    color: #99CC66;
    cursor: pointer;
}

.todo__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.todo__list{
    min-width: 100%;
    list-style: none;
}

.todo{
    margin: .5rem 0;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.todo li{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.todo__item{
    padding: 0 .5rem;
}

.complete-btn, .trash-btn{
    color: #FFFFFF;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background-color: #99CC66;
}

.trash-btn{
    background-color: #FF9C4B;
}

.fa-check, .fa-trash-alt{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: .5;
}

.fall{
    -webkit-transform: translateY(8rem) rotate(20deg);
        -ms-transform: translateY(8rem) rotate(20deg);
            transform: translateY(8rem) rotate(20deg);
    opacity: 0;
}